.container{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #25161647;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.pop-up{
    width: 300px;
    height: 200px;
    background-color: cadetblue;
    text-align: center;
    padding: 50px 50px;
    margin: 10% auto;
    display: none;
    border-radius: 10px;
    
}

