/* div{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}
.child{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: brown;
}
.grand-child-sibling{
    position: absolute;
    border: 5px solid red;
    top: 100px;
    right: 50px;
} */



